@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

/////////////////////////////////////////////
//              CUSTOM COLORS STYLES
/////////////////////////////////////////////
// storeblue: #4387da;
// brightblue: #0AA5FF;
// regblue: #005099;      0, 80, 153;
// flatbrown: #7c7062;    124, 112, 98;
// flatblue: #1a62a3;     26, 98, 163;
// lighterbrown: #b4a28f; 180, 162, 143;
// lightsand: #f7f6f4;    247, 246, 244;
// ltskyblue: #e0eaf4; 224, 234, 244;

/////////////////////////////////////////////
//              PAGE STYLES
///////////////////////////////////////////// 
* {
  margin: 0;
  padding: 0;
  // border: 1px solid red;
}

body {
  background-color: #b4a28f;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

#home-info-container {
  background-color: #b4a28f;
}

.after-content-spacer {
  margin-top: 200px;
}
// ------------ Loaded and Noted Fonts ----------------
// font-family: 'Arizonia', cursive;
// font-family: 'Playfair Display SC', serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Open Sans Condensed', sans-serif;
// font-family: 'Roboto Slab', serif;
// font-family: 'Raleway', sans-serif;


/////////////////////////////////////////////
//              BG VIDEO STYLES
///////////////////////////////////////////// 
video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url("../assets/img/brick-wall.jpeg") no-repeat;
  background-size: cover;
} 

/////////////////////////////////////////////
//              HEADER STYLES
///////////////////////////////////////////// 
#header {
  min-height: 500px;
  min-height: 900px;
  padding-top: 20px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  nav ul {
    padding-top: 10px;
    margin: 0 auto 200px;

    li a {
      color: #f7f6f4;
    }
  }

  #hero-title {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #fff;
    font-size: 500%;
  }

  h2 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    color: #f7f6f4;

  } 

  a {

    i {
      margin: 100px;
      float: right;
      margin-left: 50%;
      margin-right: 50%;
      color: #fff;
    }
  }
}


/////////////////////////////////////////////
//              NAVIGATION STYLES
/////////////////////////////////////////////
#header-nav {
  height: 200px;

  ul {
  list-style-type: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;

    li {
      display: inline-block;
      padding: 10px 20px;
      font-size: 1.1em;
      font-weight: bold;

      a {
        font-size: 150%;
        border: 3px solid white;
        border-radius: 25px;
        padding: 12px;
      }

      a:hover {
        position: relative;
        //top: -1px;
        border: 3px solid red;
      }
    }
  }
}

.top-bar {
  height: 45px;
}

.top-bar-section ul li {
    background-color: rgba(255, 0, 0, 1);

    a {
      font-size: 150%;
    }
}

.top-bar-section ul li.active > a {
  background-color: rgba(255, 0, 0, 1);

}

.top-bar-section ul li.active a:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(255, 0, 0, 1);
}
.top-bar-section ul li.active a {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(255, 0, 0, 1);
}

.top-bar .title-area .name h1 a {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 150%;
  font-weight: 500;
  font-size: 200%;
}

/////////////////////////////////////////////
//              HERO STYLES (GENERAL)
///////////////////////////////////////////// 
.hero-spacer {
  padding: 20px;
}

/////////////////////////////////////////////
//              HERO-TEXT STYLES
/////////////////////////////////////////////
.main-hero-text {
  box-sizing: border-box;
  border: 4px solid #f7f6f4;
  padding: 30px;
  border-radius: 5px;
  min-width: 35.5em;
  width: 50.5em;
  min-height: 350px;

  #hero-title {
    margin-top: 30px;
  }
}

.hero-text-callout {
  padding: 0 20px;
  color: #f7f6f4;
  margin-top: 175px;
  font-size: 500%;
}

.hero-text-subhead {
  color: #f7f6f4;
  margin-bottom: 40px;
  font-size: 200%;
}


/////////////////////////////////////////////
//              HOME PAGE STYLES
/////////////////////////////////////////////
#down-chevron {
  position: relative;
  top: 500px;
  left: 25px;

}

#down-chevron:hover {
  color: red;
}

.addtnl-chevron {
  margin-bottom: 100px;
  color: white;
  margin-top: 100px;
}

.top-pad {
  padding-top: 40px;
}

.progress-chevron:hover {
  color: red;
}

#footer {
  padding-top: 50px;

  h3 {
    color: white;
  }
}

#footerCopy {
  margin-bottom: 0;
}
.social-icon {
  color: red;
  padding: 0 .4em;
}

.social-icon:hover, .social-icon:focus {
  color: white;
}
/////////////////////////////////////////////
//              GALLERY-SECTION HERO SLIDER STYLES
/////////////////////////////////////////////
.orbit-container {
  margin-bottom: 40px;
  max-height: 575px;
  
  .example-orbit li img {
    width: 100%;
    height: 75px;
  }
}


.orbit-container .orbit-slide-number {
  position: absolute;
  top: 20px;
  left: 10px;
  font-size: 12px;
  color: white;
  background: transparent;
}

.orbit-container .orbit-timer {
  position: absolute;
  top: 22px;
  right: 10px;
  height: 6px;
  width: 100px;
  z-index: 10;
}
/////////////////////////////////////////////
//              GALLERY PAGE GRID STYLES
/////////////////////////////////////////////

.th {
  min-height: 190px;
  width: 20%;
  border: 3px solid #0AA5FF;
  margin: 10px;

  a img {
    min-height: 190px;
  }
}



/////////////////////////////////////////////
//              SERVICES-SECTION STYLES
/////////////////////////////////////////////
#services {
  min-height: 450px;
  background-image: url("../assets/img/wood_plank_wall.jpg");
  background-size: cover;

  h1 {

  }

  p {
    color: white;
  }

  .service {
    color: white;
    font-size: 120%;
  }

  p img {
    margin-top: 15px;
    min-height: 240px;
    border: 3px solid white;
    border-radius: 100%;
  }
}


/////////////////////////////////////////////
//              FOOTER STYLES
/////////////////////////////////////////////
.social {
  margin: 25px 0;
}


/////////////////////////////////////////////
//              SERVICES PAGE STYLES
/////////////////////////////////////////////
.services-page {
   h3 {
     color: white;
     margin-top: 30px;
   }

   p {
     font-size: 150%;
   }

   hr {
     border-color: #0AA5FF;
   }
 }

//////////////////////////////////////////////////////////////////////////////
//              CUSTOM MEDIA QUERIES
//////////////////////////////////////////////////////////////////////////////
@media #{$small-up} {
  //#header-nav {
  //  height: 150px;
  //
  //  ul {
  //  list-style-type: none;
  //  font-family: 'Roboto Condensed', sans-serif;
  //  font-weight: 300;
  //
  //    li {
  //      display: inline-block;
  //      padding: 10px 10px;
  //      font-size: .65em;
  //      font-weight: bold;
  //
  //      a {
  //        border: 3px solid white;
  //        border-radius: 25px;
  //        padding: 12px;
  //      }
  //
  //      a:hover {
  //        position: relative;
  //        top: -1px;
  //        border: 3px solid red;
  //      }
  //    }
  //  }
  //}

  .hero-spacer {
    padding: 5px;
  }

  .orbit-slides-container {

    li {

      img {
        height: 450px;
        width: 100%;
      }
    }
  }

  .orbit-container {
    margin-bottom: 40px;
    max-height: 450px;
    
    .example-orbit li img {
      width: 100%;
      height: 450px;
    }
  }

  /////////////////////////////////////////////
  //              SERVICES SECTION STYLES
  /////////////////////////////////////////////

  #services {

    p {
      color: white;
    }

    .service {
      color: white;
      font-size: 150%;
      min-height: 40px;
    }

    p img {
      margin-top: 15px;
      min-height: 240px;
      border: 3px solid white;
      border-radius: 100%;
    }
  }


  .footer {

    h3 {
      padding-top: 30px;
      color: white;
    }
  }

  .services-page {
    h3 {
      color: white;
      margin-top: 30px;
    }

    p {
      font-size: 150%;
    }

    hr {
      border-color: #0AA5FF;
    }
  }
}
/////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////// SMALL //////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////
@media #{$small-only} {
  #header {
    background: url("../assets/img/brick-wall.jpeg") no-repeat center center fixed; 

    .main-hero-text {
      min-height: 200px;
      font-size: 40%;
    }

    #hero-title {
      font-size: 800%;
    }

  }

  #bgvid {
    display: none;
  }

  #header-nav {
    height: 150px;

    ul {
      list-style-type: none;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 300;

      li {
        display: inline-block;
        padding: 10px 10px;
        font-size: .5em;
        font-weight: bold;

        a {
          border: 3px solid white;
          border-radius: 25px;
          padding: 12px;
        }

        a:hover {
          position: relative;
          top: -1px;
          border: 3px solid red;
        }
      }
    }
  }

  .contain-to-grid.sticky.fixed-top {
    position: fixed;
    top: 0;
    z-index: 99;
  }


  .main-hero-text {
    border: 3px solid #f7f6f4;
    font-size: 55%;
    border-radius: 5px;
    max-width: 37.5em;
    margin-right: 15px;
    margin-right: 15px;
  }

  .hero-text-callout {
    padding: 0 20px;
    color: #f7f6f4;
  }

  .hero-text-subhead {
    color: #f7f6f4;
    font-size: 100%;
  }

  #down-chevron {
    font-size: 400%;
  }

  .orbit-slides-container {

    li {

      img {
        height: 300px;
        width: 100%;
      }
    }
  }

  .orbit-container {
    margin-bottom: 40px;
    max-height: 300px;
    
    .example-orbit li img {
      width: 100%;
      height: 300px;
    }
  }

  /////////////////////////////////////////////
  //              SERVICES SECTION STYLES
  /////////////////////////////////////////////

  #services {

    p {
      color: white;
    }

    .service {
      color: white;
      font-size: 85%;
      min-height: 40px;
    }

    p img {
      margin-top: 15px;
      min-height: 100px;
      border: 3px solid white;
      border-radius: 100%;
    }
  }


  /////////////////////////////////////////////
  //              SERVICES PAGE STYLES
  /////////////////////////////////////////////
  .services-page {
    h3 {
      color: white;
      margin-top: 30px;
    }

    p {
      font-size: 100%;
    }

    hr {
      border-color: #0AA5FF;
    }
  }
  /////////////////////////////////////////////
  //              GALLERY PAGE GRID STYLES
  /////////////////////////////////////////////
  .thumb-spacer {
    margin: 0 .5em;

    .th {
      min-height: 130px;
      width: 30%;
      border: 3px solid #0AA5FF;
      margin: 10px .25em;

      a img {
        min-height: 130px;
      }
    }
  }

}







