@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

/////////////////////////////////////////////
//              CUSTOM COLORS STYLES
/////////////////////////////////////////////
// storeblue: #4387da;
// brightblue: #0AA5FF;
// regblue: #005099;      0, 80, 153;
// flatbrown: #7c7062;    124, 112, 98;
// flatblue: #1a62a3;     26, 98, 163;
// lighterbrown: #b4a28f; 180, 162, 143;
// lightsand: #f7f6f4;    247, 246, 244;
// ltskyblue: #e0eaf4; 224, 234, 244;

/////////////////////////////////////////////
//              PAGE STYLES
///////////////////////////////////////////// 
* {
  margin: 0;
  padding: 0;
  border: 1px solid red;
}

body {
  background-color: #b4a28f;
}

// ------------ Loaded Fonts ----------------
// font-family: 'Arizonia', cursive;
// font-family: 'Playfair Display SC', serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Open Sans Condensed', sans-serif;
// font-family: 'Roboto Slab', serif;
// font-family: 'Raleway', sans-serif;



/////////////////////////////////////////////
//              HEADER STYLES
///////////////////////////////////////////// 
#header {
  min-height: 500px;
  // background-color: $base;
  min-height: 900px;
  padding-top: 20px;
  background-image: url("../assets/img/brick-wall.jpeg");

  nav ul {
    padding-top: 10px;
    margin: 0 auto 200px;

    li a {
      color: #f7f6f4;
    }
  }

  #hero-title {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #fff;
    // padding-top: 200px;
    font-size: 500%;
  }

  h2 {
    // margin-top: 200px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    color: #f7f6f4;

  } 

  a {
    // margin: 100px auto 0;
    // margin-bottom: 150px;
    

    i {
      margin: 100px;
      float: right;
      margin-left: 50%;
      margin-right: 50%;
      color: #fff;
      // font-size: 450%;
      // position: relative;
    }
  }
}






/////////////////////////////////////////////
//              NAVIGATION STYLES
/////////////////////////////////////////////
#header-nav {
  height: 200px;

  ul {
  list-style-type: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;

    li {
      display: inline-block;
      padding: 10px;
    }
  }
}


/////////////////////////////////////////////
//              HERO STYLES (GENERAL)
///////////////////////////////////////////// 
.hero-spacer {
  padding: 20px;
}

/////////////////////////////////////////////
//              HERO-TEXT STYLES
/////////////////////////////////////////////
.main-hero-text {
  border: 5px solid #f7f6f4;
}

.hero-text-callout {
  padding: 20px;
  color: #f7f6f4;
}

.hero-text-subhead {
  color: #f7f6f4;
}


/////////////////////////////////////////////
//              HOME PAGE STYLES
/////////////////////////////////////////////
#down-chevron {
  position: relative;
  left: 27px;

}



/////////////////////////////////////////////
//              GALLERY HERO SLIDER STYLES
/////////////////////////////////////////////
.example-orbit li img {
  width: 100%;
  height: 100%;
}

/////////////////////////////////////////////
//              GALLERY GRID STYLES
/////////////////////////////////////////////
ul li img {
  padding-top: 20px;
}




/////////////////////////////////////////////
//              SERVICES STYLES
/////////////////////////////////////////////
#services {
  min-height: 450px;
  background-image: url("../assets/img/wood_plank_wall.jpg");
  background-size: cover;

  h1 {

  }

  p {
    color: white;
  }
}
